.sidemenu {
    background-color: white;
    color: #6c757d !important;
    width: 100%;
    padding: 5%;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.sidemenuactive {
    background-color: #3247d5;
    color: #f3f8ff !important;
    width: 100%;
    padding: 5%;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}

.sidesubmenu {
    background-color: white;
    color: #6610f2 !important;
    width: 100%;
    padding: 5% 5% 5% 15%;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.sidesubmenuactive {
    background-color: #3247d5;
    color: #f3f8ff !important;
    width: 100%;
    padding: 5% 5% 5% 15%;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}

.sidemenulink {
    color: red;
    text-decoration: none;
}