.card {
    padding: 20px;
    background: #fff;
    box-shadow: 1px 1px 15px 3px #0000001f;
    border-radius: 12px;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);

}

.button {
    width: 103%;
    background-color: #3247d5;
    color: #fff;
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    font-family: Poppins;
    text-shadow: none;
    letter-spacing: .5px;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    font-family: Poppins;
    text-transform: none;
    overflow: visible;
    margin: 0;
}

.span {
    color: red;
}

.selecter {
    width: 100%;
    padding: 3px;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    padding: 8px;
    border: 1px solid #ccc;
}
.labels{
    font-weight: 600;
}
