/* Extra small devices (phones) */
@media only screen and (max-width: 575px) {
    /* Styles for phones */
    .card {
        padding: 20px;
        background: #fff;
      
        width: 100%;
        /* /*position:relative;*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        box-shadow: 1px 1px 15px 3px #0000001f;
        border-radius: 12px;
        color: #0c275a;
        width: 100%;
    }
    .button{
        width:103%;
         background-color: #3247d5;
        color: #fff;
        border-radius: 6px;
        border: none;
        text-transform: uppercase;
        font-family: Poppins;
        text-shadow: none;
        letter-spacing: .5px;
        padding: 5px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        font-family: Poppins;
        text-transform: none;
        overflow: visible;
        margin: 0;
    }
  }
  
  /* Small devices (tablets) */
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Styles for tablets */
    .card {
        padding: 20px;
        background: #fff;
      
        width: 100%;
        /* /*position:relative;*/ 
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        box-shadow: 1px 1px 15px 3px #0000001f;
        border-radius: 12px;
        color: #0c275a;
        width: 100%;
    }
    .button{
        width:103%;
         background-color: #3247d5;
        color: #fff;
        border-radius: 6px;
        border: none;
        text-transform: uppercase;
        font-family: Poppins;
        text-shadow: none;
        letter-spacing: .5px;
        padding: 5px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        font-family: Poppins;
        text-transform: none;
        overflow: visible;
        margin: 0;
    }
  }
  
  /* Medium devices (desktops) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for desktops */
    .card {
        padding: 20px;
        background: #fff;
      
        width: 100%;
        /*position:relative;*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        box-shadow: 1px 1px 15px 3px #0000001f;
        border-radius: 12px;
        color: #0c275a;
        width: 100%;
    }
    .button{
        width:103%;
         background-color: #3247d5;
        color: #fff;
        border-radius: 6px;
        border: none;
        text-transform: uppercase;
        font-family: Poppins;
        text-shadow: none;
        letter-spacing: .5px;
        padding: 5px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        font-family: Poppins;
        text-transform: none;
        overflow: visible;
        margin: 0;
    }
  }
  
  /* Large devices (large desktops) */
  @media only screen and (min-width: 992px) {
    .card {
        padding: 20px;
        background: #fff;
      
        width: 100%;
        /*position:relative;*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        box-shadow: 1px 1px 15px 3px #0000001f;
        border-radius: 12px;
        color: #0c275a;
        width: 100%;
    }
    .button{
        width:103%;
         background-color: #3247d5;
        color: #fff;
        border-radius: 6px;
        border: none;
        text-transform: uppercase;
        font-family: Poppins;
        text-shadow: none;
        letter-spacing: .5px;
        padding: 5px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        font-family: Poppins;
        text-transform: none;
        overflow: visible;
        margin: 0;
    }
  }
  