#title{
    padding-left: 5px;
    font-size: 19px;
    font-weight: 700;
    color: #3247d5;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 1rem;
}

#addNew {
    font-style: normal;
    font-size: 15px;
    height: 35px;
    letter-spacing: .658333px;
    background: #3247d5;
    box-shadow: 1px 1px 17px 1px #3247d599;
    border-radius: 5px solid #3247d5;
    text-transform: uppercase;
    width: 200px;
}

#p{
    font-size: 12px!important;
    font-weight: 700!important;
    letter-spacing: .5!important;
    color: #3247d5!important;
    text-transform: uppercase!important;
    padding: 10px 0 5px!important;
}

#actionBtn{
    box-sizing: border-box;
    width: 90px;
    height: 29px;
    left: 0;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    letter-spacing: .658333px;
    color: #3247d5;
    border-radius: 5px solid #3247d5;
    border: 2px solid #3247d5;
    margin-left: 10px;
}