#commonBtn {
    box-sizing: border-box;
    color: #fff;
    background: #3247d5;
    border-radius: 5px solid #3247d5;
    text-transform: uppercase;
    width: 130px;
    height: 40px;
}

#title {
    padding-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #3247d5;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 1rem;
}

#tabBtn {
    color: #3247d5;
    background: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #3247d5;
    width: 175px;
    height: 40px;
}

#newPayrollBtn {
    display: block;
    width: 100%;
    padding: 6px 20px 6px 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    line-height: 14px;


}

#newPayrollLink {
    text-decoration: none;
}

#p {
    font-family: Poppins;
    font-weight: 700;
    padding-left: 5px;
    color: #3247d5;
    margin-left: 20px;
    font-size: 21px;
}

#table {
    border-radius: 10px;
    overflow: hidden;
    width: 98%;
    margin-left: 11px;
    font-family: Poppins;

}