#title{
    padding-left: 5px;
    font-size: 19px;
    font-weight: 700;
    color: #3247d5;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 1rem;
}
#btn{
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    letter-spacing: .658333px;
    color: #fff;
    background: #3247d5;
    box-shadow: 1px 1px 17px 1px #3247d599;
    border-radius: 5px solid #3247d5;
    border: 2px solid #3247d5;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    margin-left: 5px;
}
#asterisk{
    color: red;
    font-size: larger;
}
#label{
    font-weight: 600;
    font-size: 14px;
}
