#addButton {
  background-color: #3247d5;
  color: white;
  font-weight: bold;
  border: none;
  padding: 4px 50px 4px 50px;
  border-radius: 5px;
}

#actionButton {
  background-color: #3247d5;
  padding: 4px 30px 4px 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 15px;
  font-size: 12px;
}

#p {
  font-family: Poppins;
  font-weight: 700;
  padding-left: 5px;
  color: #3247d5;
  margin-left: 20px;
  font-size: 21px;
}

#table {
  border-radius: 10px;
  overflow: hidden;
  width: 98%;
  margin-left: 11px;
  font-family: Poppins;
}

#card {
  width: 95%;
  margin-left: 10px;
}
