#p {
    font-family: Poppins;
    font-weight: 700;
    padding-left: 5px;
    color: #3247d5;
    margin-left: 20px;
    font-size: 21px;
}

#addButton {
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    letter-spacing: .658333px;
    color: #fff;
    background: #3247d5;
    box-shadow: 1px 1px 17px 1px #3247d599;
    border-radius: 5px solid #3247d5;
    border: 2px solid #3247d5;
    text-transform: uppercase;
    float: right;
    justify-content: center;
    font-weight: 400px;
    padding: 5px 35px 5px 35px;
    float: right;
}

#addLink {
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-size: 13px;
}

#actionButton {
    box-sizing: border-box;
    width: 90px;
    height: 29px;
    left: 0;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    letter-spacing: .658333px;
    color: #3247d5;
    border-radius: 5px solid #3247d5;
    border: 2px solid #3247d5
}

#table {
    width: 90%;
    justify-content: center;
    font-family: Poppins;
    margin-left: 20px;
    font-size: 15px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 50px;
    font-size: 13px;
}

#tr {
    background-color: #02cfff;


}

#card {
    width: 98%;
    margin-left: 15px;
}

#icon {
    padding-bottom: 3px;
}