#subSectionMasterCard {
    height: 80px;
    justify-content: center;
    font-family: Poppins;

}

#actionButton {
    box-sizing: border-box;
    width: 90px;
    height: 29px;
    left: 0;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    letter-spacing: .658333px;
    color: #3247d5;
    border-radius: 5px solid #3247d5;
    border: 2px solid #3247d5
}

#addButton {
    float: right;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    letter-spacing: .658333px;
    color: #fff;
    background: #3247d5;
    box-shadow: 1px 1px 17px 1px #3247d599;
    border-radius: 3px solid #3247d5;
    border: 2px solid #3247d5;
    text-transform: uppercase;
    padding: 5px 35px 5px 35px;


}



#card {
    width: 98%;
    justify-content: center;
    font-family: Poppins;
    margin-left: 18px;

}

#table {
    width: 98%;
    justify-content: center;
    font-family: Poppins;
    margin-left: 20px;
    font-size: 15px;

}

#h5 {
    font-family: Poppins;
    margin-left: 25px;
    color: #3247d5;
}

#td {
    border: none;
    text-align: center;
}